streamlit==0.75.0
docx2txt
textstat
python-docx
lxml
requests
bs4
beautifulsoup4
soupseive
pdfminer.six
pycryptodom
pyphen
cryptography
pyOpenSSL
charset-normalizer
aiohttp
frozenlist
aiosignal
yarl
multidict
idna
attrs
async-timeout

